body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: grey;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.ClickBox {
  border-radius: 50%;
  border: .2rem solid green;
  opacity: 0.5;
}
